<title>Performance Player</title>
<!--
vim:  ts=3
-->


{% if site.local == "true" %} 
	<script src="/scripts/verovio-toolkit.js"></script>
{% else %}
	<script src="http://verovio-script.humdrum.org/scripts/verovio-toolkit.js"></script>
{% endif %}

{% if site.local == "true" %} 
	<script src="/scripts/musicbox.js"></script>
{% else %}
	<script src="http://musicbox.sapp.org/scripts/musicbox.js"></script>
{% endif %}


{% include html/listeners.html %}
{% include html/styles.html %}
{% include html/scripts.html %}
{% include html/select.html %}


